<!DOCTYPE html>
<html>
<head>
  <title>Payneful Budgets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="#5E5B5D">
	<div id="main-container" class="expanded">
		<div id="logo-header">
			<div id="logo"><%= link_to "Payneful Budgets", {action: "index", controller: "main"} %></div>
		</div>
		<p id="profile"><span id="profile-label">Profile:</span> <%= session[:user] %></p>
		<%= link_to "Log Out", {:controller => "authentication", :action => "logout"}, id: "logout" %>
		<%= yield %>
	</div>
	<div ng-controller="pbUtils">
		<div class="w3-modal" id="session-expire">
			<div class="w3-modal-content">
				<p>Your session is about to expire in less than a minute.  Would you like to continue?</p>
				<button type="button" ng-click="util.resetTimeout()">YES</button>
			</div>
		</div>
	</div>
</body>
</html>
