<!DOCTYPE html>
<html>
<head>
  <title>PaynefulBudgets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="#5E5B5D">
	<div id="main-container">
		<div id="logo-header">
			<div id="logo"><%= link_to "Payneful Budgets", {action: "index", controller: "main"} %></div>
		</div>
		<%= yield %>
	</div>
</body>
</html>
