<p id="user-welcome">Welcome, <%= session[:name]%></p>
<div id="index-content" style="padding-left: 15px;">
	<div style="width: 70%;">
		<h4>Your Budgets </h4>
		<%= link_to "<button type='button' class='blue-button'>Add New Budget</button>".html_safe, {:controller => "budgets", :action => "create_budget"} %>
		<table class="w3-table w3-bordered">
			<thead>
				<th>Budget Mon/Yr</th>
				<th>Active</th>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<% @budgets.each do |b| %>
				<tr>
					<td><%= Time.new(b.year, b.month).strftime("%b %Y") %></td>
					<td><%= (b.budget_active) ? "Yes" : "No" %></td>
					<td><a href="/budgets/manage_budget/<%= b.id.to_s%>">View</a></td>
					<td><a href="/budgets/edit_budget/<%= b.id %>">Edit</a></td>
					<td><a href="/budgets/remove_budget/<%= b.id %>">Remove</a></td>
				</tr>
			<% end %>
		</table>
		<%= link_to "Show All...", {:controller => "budgets", :action => "show_budgets"} %>
	</div>
	<div style="width: 10%;">
		<p> </p>
	</div>
	<div id="shared-users">
		<p>Shared Budget Users</p>
		<ul>
			<li><a href="">Jon</li>
			<li><a href="">Jack</li>
			<li><a href="">Jill</li>
			<li><a href="">Jon</li>
			<li><a href="">Jack</li>
			<li><a href="">Jill</li>
			
		</ul>
	</div>
</div>