<div class="w3-accordion parent">
	<div class="accordian-button" ng-class="{'expanded': section.open}" ng-click="section.switch()">
		<svg height="26" width="26">
			<!--Horizontal Line-->
			<line x1="5" y1="12.5" x2="20" y2="12.5" class="hline" />
			<!--Vertical Line-->
			<line x1="12.5" y1="5" x2="12.5" y2="20" class="vline" />
		</svg>
	</div>
	<div class="accordian-header" style="box-shadow: 8px 8px 5px lightgrey; background-color: {{color}}">
		<h3 style="float: left;">
			{{title}}
		</h3>
		<a class="accordian-add-button" ng-click="modal.add_edit.show()">{{section.buttonCaption}}</a>
		<div style="clear: both;">
			<span>{{header1}}</span>
			<span>{{header2}}</span>	
		</div>
	</div>
	<div class="w3-accordion-content w3-container" ng-class="{'w3-show': section.open}" ng-transclude
		style="box-shadow: 8px 8px 5px lightgrey;">
		
	</div>
</div>