/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  height: 100%;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: Arial;
}

#main-container {
    background-color: white;
    width: 70%;
    height: 75%;
    margin: auto;
    margin-top: 5%;
    overflow-y: hidden;
    transition: 0.6s height;
}

#main-container.expanded {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 0%;
    overflow-y: hidden;
}

#logo-header {
    background: linear-gradient(#3366FF, #000000);
    height: 10%;
}

#logo-header #logo {
    background-color: white;
    width: 20%;
    height: 85%;
    display: inline-flex;
    margin-top: 5px;
    margin-left: 5px;
}

#logo-header #logo a {
	margin: auto;
	color: #FF6666;
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	text-decoration: none;
}

#profile {
	float: right;
	padding-right: 10px;
	margin-bottom: 0px;
	font-family: Arial;
}

#profile-label {
	font-weight: bold
}

#logout {
	clear: both;
	float: right;
	padding-right: 10px;
	margin-bottom: 40px;
	font-family: Arial;
}

.blue-button {
	font-weight: bold;
    font-family: arial;
    font-size: 14px;
    border-radius: 5px;
    border-color: black;
    background: linear-gradient(rgba(51, 102, 255, 0.27), rgba(51, 102, 255, 1.0));             
}

.blue-button:hover {
    background: linear-gradient(rgba(51, 102, 255, 1.0), rgba(51, 102, 255, 0.27));
    cursor: pointer;
}

div.w3-accordion.parent {
	width: 70%;
	margin-left: 25px;
	cursor: default;
}

div.w3-accordion.parent > .accordian-header {
	padding: 10px;
	color: white;
	border: 2px solid #1B3280;
	background-color: #4388CC;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: default;
}

div.w3-accordion.parent > .accordian-header span {
	margin-right: 20px;
	font-weight: bold;
}

div.w3-accordion.parent > .w3-accordion-content {
	border: 2px solid #1B3280;
	border-top: none;
	background-color: white;
	padding-top: 10px;
}

div.w3-accordion.parent > .accordian-button {
	cursor: pointer;
	transition: transform 0.5s;
    border: 2px solid #1B3280;
    background-color: white;
    border-radius: 100%;
    position: relative;
    top: 15px;
    right: 15px;
    width: 28px;
    height: 28px;
}

div.w3-accordion.parent .accordian-add-button {
	padding: 3px 10px;
	cursor: pointer;
    text-decoration: none;
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background: linear-gradient(rgba(51, 102, 255, 0.27), rgba(51, 102, 255, 1.0));
}

div.w3-accordion.parent .accordian-add-button:hover {
    background: linear-gradient(rgba(51, 102, 255, 1.0), rgba(51, 102, 255, 0.27));
}

div.w3-accordion.parent .accordian-button .hline {
	stroke: rgb(0,0,0);
	stroke-width: 2; 
	transition: opacity 0.5s;
}

div.w3-accordion.parent .accordian-button .vline {
	stroke: rgb(0,0,0);
	stroke-width: 2; 
}

div.w3-accordion.parent .accordian-button.expanded {
	/*Rotate to horizontal*/
	transform: rotate(90deg);
}

div.w3-accordion.parent .accordian-button.expanded .hline {
	/*Transition to opaque*/
	opacity: 0.0;
}