// Place all the styles related to the authentication controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-content {
    margin-top: 10%;
    height: 85%;
    
    #header {
        font-weight: bold;
        font-family: arial;
        font-size: 24px;
        width: 320px;
        margin: auto;
        margin-bottom: 10px;
    }
    
    #login {
        border: 1px solid black;
        width: 40%;
        height: 35%;
        margin: auto;
        box-shadow: 10px 10px 10px grey;
        
        form {
            margin-top: 10%;
            
            p {
                margin: auto;
                width: 300px;
                
                label {
                    display: inline-block;
                    width: 90px;
                }
            }
            
            .control {
                width: 100px;
              
                a, input {
                    width: 100px;
                    margin: auto;
                }
                
                a {
                    color: #0000FF;
                    
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}

#new-user-content {
    margin-top: 5%;
    height: 75%;
    
    #header {
        font-weight: bold;
        font-family: arial;
        font-size: 24px;
        width: 240px;
        margin: auto;
        margin-bottom: 10px;
    }
    
    #new-user {
        border: 1px solid black;
        width: 50%;
        height: 80%;
        margin: auto;
        box-shadow: 10px 10px 10px grey;
        
        form {
            margin-top: 10%;
            
            p {
                display: inline-block;
                width: 210px;
                
                label {
                    display: inline-block;
                    width: 90px;
                }
            }
            
            div {
              width: 430px;
              margin: auto;
              
              p {
                  display: inline-block;
                  width: 210px;
                  
                  label {
                      display: inline-block;
                      width: 90px;
                  }
              }
              
              
            }
            
            div.register {
                width: 80px;
                
                input[type="submit"] {
                    margin-top: 55px;
                    font-weight: bold;
                    font-family: arial;
                    font-size: 14px;
                    border-radius: 5px;
                    border-color: black;
                    background: linear-gradient(rgba(51, 102, 255, 0.27), rgba(51, 102, 255, 1.0));
                    
                    &:hover {
                        background: linear-gradient(rgba(51, 102, 255, 1.0), rgba(51, 102, 255, 0.27));
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
