// Place all the styles related to the budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#manage-budget-content {
    padding-left: 15px;
    height: 100%;
    
    #back-to-main {
        margin-top: 10px;
        display: block;
    }
    
    #title {
        font-size: 21px;
        font-weight: bold;
        display: inline-block;
        margin-top: 50px;
        margin-right: 10px;
    }
    
    .parent > .w3-accordion-content {
      table {
        margin-bottom: 20px;
      }
      .w3-row {
        .m11 {
          span {
            font-weight: bold;
          }
        }
      }
      .child {
        .w3-row.accordian-header {
          margin-bottom: 10px;
          
          .accordian-button {
            width: 20px;
            height: 20px;
            border-radius: 0%;
            border: 2px solid black;
            display: inline-block;
          }
        }
      }
    }
}

a {
  text-decoration: underline;
  
  &:hover {
    cursor: pointer;
  }
}

.remove-button {
  border-radius: 100%;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  text-align: center;
  
  &:hover {
    cursor: pointer;
  }
  span {
    color: black;
  }
}

.budget-table-container {
  width: 60%;
  background-color: cadetblue;
  margin-left: 10px;
  padding-left: 15px;
}

.red {
  background-color: firebrick;
}

.budget-table {
  width: 60% !important;
  
  th {
    text-align: left;
    min-width: 20%
  }
}

.budget-details {
    overflow-y: scroll;
    height: 70%;
}

.category {
  width: 200px;
  height: 28px;
}

.amount {
  width: 150px;
  text-align: right;
}

.recurring {
  
}
