// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user-welcome {
    clear: both;
    font-weight: bold;
    padding-left: 15px;
}

#index-content {
    height: 70%;
  
    h4 {
        margin-bottom: 30px;
    }
    
    table {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    div {
        float: left;
        height: 100%;
    }
    
    #shared-users {
        width: 20%;
        background-color: #EEEEEE;
        overflow-y: hidden;
        p {
            padding-left: 10px;
            font-size: 17px;
            font-weight: bold;
        }
        ul {
            height: 90%;
            overflow-y: auto;
            padding-left: 10px;
            
            li {
                font-size: 15px;
                list-style-type: none;
            }
        }
    }
}

