<div id="login-content">
	<p id="header">Welcome, Log In To Begin!</p>
	<% if flash[:error] != nil then%>
		<p style="color: maroon;"><%= flash[:error] %></p>
	<% end %>
	<div id="login">
		<%= form_tag(action: 'authenticate') do%>
			<p><label>Username: </label><%= text_field_tag("username") %></p><br />
			<p><label>Password: </label><%= password_field_tag("password") %></p><br />
			<p class="control"><%= submit_tag("Login", {class: "blue-button"}) %></p>
			<p class="control"><%= link_to("New User?", action: "new_user") %></p>
		<% end %>
	</div>
</div>