<div id="new-user-content">
	<p id="header">You're on your way...</p>
	<div id="new-user">
		<% if flash[:error] != nil then%>
			<p style="color: maroon;"><%= flash[:error] %></p>
		<% end %>
		<%= form_tag(action: 'new_user') do%>
			<div class="w3-row">
				<p>
					<label>Username: </label>
					<%= text_field_tag("username", params[:username]) %>
				</p>
				<p>
					<label>First Name: </label>
					<%= text_field_tag("first_name", params[:first_name]) %>
				</p>
			</div>
			<div class="w3-row">
				<p>
					<label>Password: </label>
					<%= password_field_tag("password") %>
				</p>
				<p>
					<label>Last Name: </label>
					<%= text_field_tag("last_name", params[:last_name]) %>
				</p>
			</div>
			<div class="w3-row">
			<p>
				<label style="width: 150px;">Confirm Password: </label>
				<%= password_field_tag("confirm") %>
			</p>
			</div>
			<div class="register"><%= submit_tag("Register") %></div>
		<% end %>
	</div>
</div>
