<div ng-controller="pbCreateBudget">
	<% if !@budget.blank? then %>
		<h1>Edit Budget</h1>
	<% else %>
		<h1>New Budget</h1>
	<% end %>
	
	<% 
		if @budget.blank? then
			form_action = "create_budget"
		else
			form_action = "edit_budget"
		end
	%>
	<%= form_tag(action: form_action) do %>
		<% if @budget.blank? then %>
			<p>Select Year: <%= select_year(Time.now) %></p>
			<p>Select Month: <%= select_month(Time.now) %></p>
		<% else %>
			<p>Year: <%= @budget.year %></p>
			<p>Month: <%= Time.new(@budget.year, @budget.month).strftime("%B") %></p>
		<% end %>
		<br />
		<div class="budget-table-container">
			<h2>Income Items</h2>
			<a ng-click="budget.incomeItems.addLink($event)">Add New Income Items...</a>
			<table class="budget-table w3-table">
				<tbody>
					<thead>
						<th>Name</th>
						<th>Category</th>
						<th>Recurring</th>
						<th>Amount</th>
						<th></th>
					</thead>
					<tr ng-repeat="r in budget.incomeItems.items track by r.id">
						<td>
							<input type="text" name="incomeItems[incomeItem{{r.id}}[incomeName]]" ng-model="r.name" required />
						</td>
						<td>
							<input list="incomeCategories" name="incomeItems[incomeItem{{r.id}}[incomeCategory]]" class="category" ng-model="r.category" required />
						</td>
						<td>
							<div class="recurring">
								<input type="checkbox" name="incomeItems[incomeItem{{r.id}}[incomeRecurring]]" ng-model="r.recurring" />
							</div>
						</td>
						<td>
							<input class="amount" pattern="^\$*(?:\d{1,3},?)*\d{1,3}\.\d\d$" type="text" name="incomeItems[incomeItem{{r.id}}[incomeAmount]]" ng-blur="budget.amountHandler($event)" ng-model="r.amount" required />
						</td>
						<td>
							<div id="incomeRmv{{r.id}}" class="remove-button" ng-click="budget.incomeItems.rmvButton(r)" title="Remove">
								<div></div>
								<span>-</span>
								<div></div>
							</div>
						</td>
					</tr>
				</tbody>
				<datalist id="incomeCategories">
					<% OtherCategory.where(:category_type => "income").order(:name).each do |cat| %>
						<option value="<%= cat.name %>">
					<% end %>
				</datalist>
			</table>
		</div>
		<br />
		<div class="budget-table-container">
			<h2>Savings Accounts</h2>
			<a ng-click="budget.savingsItems.addLink()">Add New Savings Accounts...</a>
			<table class="budget-table w3-table">
				<tbody>
					<thead>
						<th>Name</th>
						<th>Category</th>
						<th>Current Amount</th>
						<th></th>
					</thead>
					<tr ng-repeat="r in budget.savingsItems.items">
						<td>
							<input type="text" name="savingsItems[savingsItem{{r}}[savingsName]]" ng-model="r.name" required />
						</td>
						<td>
							<input list="savingsCategories" name="savingsItems[savingsItem{{r}}[savingsCategory]]" class="category" ng-model="r.category" required />
						</td>
						<td>
							<input class="amount" pattern="^\$*(?:\d{1,3},?)*\d{1,3}\.\d\d$" type="text" name="savingsItems[savingsItem{{r}}[savingsAmount]]" ng-blur="budget.amountHandler($event)" ng-model="r.amount" required />
						</td>
						<td>
							<div id="savingsRmv{{r}}" class="remove-button" ng-click="budget.savingsItems.rmvButton(r)" title="Remove">
								<div></div>
								<span>-</span>
								<div></div>
							</div>
						</td>
					</tr>
				</tbody>
				<datalist id="savingsCategories">
					<% OtherCategory.where(:category_type => "savings").order(:name).each do |cat| %>
						<option value="<%= cat.name %>">
					<% end %>
				</datalist>
			</table>
		</div>
		<br />
		<div class="budget-table-container">
			<h2>Expense Categories</h2>
			<a ng-click="budget.expenseCategories.addLink()">Add New Expense Categories...</a>
			<table class="budget-table w3-table">
				<tbody>
					<thead>
						<th>Name</th>
						<th>Budgeted Amount</th>
						<th></th>
					</thead>
					<tr ng-repeat="r in budget.expenseCategories.items">
						<td>
							<input type="text" name="expenseCategories[expenseCategory{{r}}[expenseName]]" ng-model="r.name" required />
						</td>
						<td>
							<input class="amount" pattern="^\$*(?:\d{1,3},?)*\d{1,3}\.\d\d$" type="text" name="expenseCategories[expenseCategory{{r}}[expenseAmount]]" ng-blur="budget.amountHandler($event)" ng-model="r.amount" required />
						</td>
						<td>
							<div id="expenseRmv{{r}}" class="remove-button" ng-click="budget.expenseCategories.rmvButton(r)" title="Remove">
								<div></div>
								<span>-</span>
								<div></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
		<div class="budget-table-container red">
			<h2>Debt</h2>
			<a ng-click="budget.debts.addLink()">Add New Debt...</a>
			<table class="budget-table w3-table">
				<tbody>
					<thead>
						<th>Name</th>
						<th>Remaining Amount</th>
						<th></th>
					</thead>
					<tr ng-repeat="r in budget.debts.items">
						<td>
							<input type="text" name="debts[debt{{r}}[debtName]]" ng-model="r.name" required />
						</td>
						<td>
							<input class="amount" pattern="^\$*(?:\d{1,3},?)*\d{1,3}\.\d\d$" type="text" name="debts[debt{{r}}[debtAmount]]" ng-blur="budget.amountHandler($event)" ng-model="r.amount" required />
						</td>
						<td>
							<div id="debtRmv{{r}}" class="remove-button" ng-click="budget.debts.rmvButton(r)" title="Remove">
								<div></div>
								<span>-</span>
								<div></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
		<%= submit_tag("Save") %><%= link_to "<button type='button'>Cancel</button>".html_safe, :action => "show_budgets" %>
	<% end %>
	
	<!-- New Income Item Modal-->
	<div id="income-modal" class="w3-modal">
		<div class="w3-modal-content">
			<%= form_tag(action: 'new_user') do %>
				<p>Add how many income items?</p>
				<p><input ng-model="budget.incomeItems.incomeItemAddNum" type="number" min="0" /></p>
				<button type="button" ng-click="budget.incomeItems.addButton()">Add</button>
			<% end %>
		</div>
	</div>
	
	<!-- New Savings Item Modal-->
	<div id="savings-modal" class="w3-modal">
		<div class="w3-modal-content">
			<%= form_tag(action: 'new_user') do %>
				<p>Add how many savings items?</p>
				<p><input ng-model="budget.savingsItems.savingsItemAddNum" type="number" min="0" /></p>
				<button type="button" ng-click="budget.savingsItems.addButton()">Add</button>
			<% end %>
		</div>
	</div>
	
	<!-- New Expenses Modal-->
	<div id="expense-modal" class="w3-modal">
		<div class="w3-modal-content">
			<%= form_tag(action: 'new_user') do %>
				<p>Add how many expense categories?</p>
				<p><input ng-model="budget.expenseCategories.expenseItemAddNum" type="number" min="0" /></p>
				<button type="button" ng-click="budget.expenseCategories.addButton()">Add</button>
			<% end %>
		</div>
	</div>
	
	<!-- New Debts Modal-->
	<div id="debt-modal" class="w3-modal">
		<div class="w3-modal-content">
			<%= form_tag(action: 'new_user') do %>
				<p>Add how many debt items?</p>
				<p><input ng-model="budget.debts.debtItemAddNum" type="number" min="0" /></p>
				<button type="button" ng-click="budget.debts.addButton()">Add</button>
			<% end %>
		</div>
	</div>
	<% if !@budget.blank? then %>
		<pb-budget-rtrv budget-id="<%= @budget.id %>" dom-budget="budget"></pb-budget-rtrv>
	<% end %>
</div>
