<div id="manage-budget-content" ng-controller="pbManageBudget">
	<%= link_to "Back To Main", {controller: "main", action: "index"}, id: "back-to-main" %>
	<h1 id="title">Budget Management</h1><%= link_to "Edit Allocations", {action: "edit_budget", id: @budget.id}, id: "link-edit" %>
	<% if flash[:notice] != nil || flash[:error] != nil then %>
		<div style="background-color: <%= (flash[:notice] != nil) ? "mediumseagreen" : "salmon" %>;">
			<p><%= (flash[:notice] != nil) ? flash[:notice] : flash[:error] %></p>
		</div>
	<% end %>
	<br />
	<div class="budget-details">
		<div class="w3-row">
			<div class="w3-col m3">
				<h5>Current Income:</h5>
			</div>
			<div class="w3-col m3">
				<h5>Current Balance: </h5>
			</div>
			<div class="w3-col rest"></div>
		</div>
		<div class="w3-row">
			<div class="w3-col m3">
				<h5><%= BudgetsController.currFmt(@metrics[:currentIncome]) %></h5>
			</div>
			<div class="w3-col m3">
				<h5><%= BudgetsController.currFmt(@metrics[:currentBalance]) %></h5>
			</div>
			<div class="w3-col rest"></div>
		</div>
		<br />
		<budget-accordion header-title="Savings" section="budget.accordions.savings" add-button-modal="budget.modals.deposit" header-one="Total Amount Invested: <%= BudgetsController.currFmt(@metrics[:savings][:ttlAmtInvested]) %> " 
			header-two="Total Deposited This Month: <%= BudgetsController.currFmt(@metrics[:savings][:ttlAmtDeposited]) %>" header-color="mediumseagreen">
			<%  @budget.savings_accounts.each do |acct| %>
					<div class="w3-accordion child">
						<div class="w3-row accordian-header">
							<div class="w3-col m11">
								<div class="w3-row">
									<div class="w3-col m7">
										<div class="accordian-button" ng-click="budget.accordions.savings.childSwitch($event)">
											<svg height="18" width="18">
												<!--Horizontal Line-->
												<line x1="3.5" y1="8" x2="12" y2="8" class="hline" />
												<!--Vertical Line-->
												<line x1="8" y1="3.5" x2="8" y2="12" class="vline" />
											</svg>
										</div>
										<span style="vertical-align: top;"><%= acct.name %> (<%= acct.category %>)</span>
									</div>
									<div class="w3-col m5">
										<span>Current Savings: <%= BudgetsController.currFmt(acct.current_amount_deposited) %></span>
									</div>
								</div>
							</div>
							<div class="w3-col m1"><p></p></div>
						</div>
						<div class="w3-accordion-content">
							<table class="w3-table-all w3-small">
								<% if acct.savings_deposits.size > 0 then %>
									<tbody>
										<thead>
											<th>Transaction Date</th>
											<th>Amount</th>
											<th></th>
											<th></th>
										</thead>
										<% acct.savings_deposits.each do |dep| %>
											<tr>
												<td><%= dep.trans_date %></td>
												<td><%= BudgetsController.currFmt(dep.amount) %></td>
												<td><a id="editDep<%= dep.id %>" data-account="<%= acct.name %>" data-amount="<%= dep.amount %>" ng-click="budget.modals.deposit.add_edit.showEdit($event)">Edit</a></td>
												<td><a id="rmvDep<%= dep.id %>" data-account="<%= acct.name %>" data-amount="<%= dep.amount %>" ng-click="budget.modals.deposit.remove.show($event)">Remove</a></td>
											</tr>
										<% end %>
									</tbody>
								<% else %>
									No Details Availabe
								<% end %>
							</table>
						</div>
					</div>
				<% end %>
		</budget-accordion>
		<budget-accordion header-title="Expenses" section="budget.accordions.expenses" add-button-modal="budget.modals.expense" header-one="Total Amount Allocated: <%= BudgetsController.currFmt(@metrics[:expenses][:ttlAmtAllocated]) %>" 
			header-two="Total Amount Spent: <%= BudgetsController.currFmt(@metrics[:expenses][:ttlAmtSpent]) %>" header-color="">
			<%  @budget.expense_categories.each do |exp_cat| %>
				<div class="w3-accordion child">
					<div class="w3-row accordian-header">
						<div class="w3-col m11">
							<div class="w3-row">
								<div class="w3-col m7">
									<div class="accordian-button" ng-click="budget.accordions.expenses.childSwitch($event)">
										<svg height="18" width="18">
											<!--Horizontal Line-->
											<line x1="3.5" y1="8" x2="12" y2="8" class="hline" />
											<!--Vertical Line-->
											<line x1="8" y1="3.5" x2="8" y2="12" class="vline" />
										</svg>
									</div>
									<span style="vertical-align: top;"><%= exp_cat.name %></span>
								</div>
								<div class="w3-col m5">
									<span>Remaining Amount: <%= BudgetsController.currFmt(exp_cat.remaining_amount) %></span>
								</div>
							</div>
						</div>
						<div class="w3-col m1"><p></p></div>
					</div>
					<div class="w3-accordion-content">
						<table class="w3-table-all w3-small">
							<% if exp_cat.expenses.size > 0 then %>
								<tbody>
									<thead>
										<th>Transaction Date</th>
										<th>Name</th>
										<th>Recurring</th>
										<th>Amount</th>
										<th></th>
										<th></th>
									</thead>
									<% exp_cat.expenses.each do |exp| %>
										<tr>
											<td><%= exp.trans_date %></td>
											<td><%= exp.name %></td>
											<td><%= exp.recurring %></td>
											<td><%= BudgetsController.currFmt(exp.amount) %></td>
											<td><a id="editExp<%= exp.id %>" data-category="<%= exp_cat.name %>" data-expense="<%= exp.name %>" ng-click="budget.modals.expense.add_edit.showEdit($event)">Edit</a></td>
											<td><a id="rmvExp<%= exp.id %>" data-category="<%= exp_cat.name %>" data-expense="<%= exp.name %>" ng-click="budget.modals.expense.remove.show($event)">Remove</a></td>
										</tr>
									<% end %>
								</tbody>
							<% else %>
								No Details Availabe
							<% end %>
						</table>
					</div>
				</div>
			<% end %>
		</budget-accordion>
		<budget-accordion header-title="Debts" section="budget.accordions.debts" add-button-modal="budget.modals.payment" header-one="Total Debt Remaining: <%= BudgetsController.currFmt(@metrics[:debt][:ttlDebtRemaining]) %>" 
			header-two="Total Paid This Month: <%= BudgetsController.currFmt(@metrics[:debt][:ttlDebtPaid]) %>" header-color="crimson">
			<%  @budget.debts.each do |debt| %>
				<div class="w3-accordion child">
					<div class="w3-row accordian-header">
						<div class="w3-col m11">
							<div class="w3-row">
								<div class="w3-col m7">
									<div class="accordian-button" ng-click="budget.accordions.debts.childSwitch($event)">
										<svg height="18" width="18">
											<!--Horizontal Line-->
											<line x1="3.5" y1="8" x2="12" y2="8" class="hline" />
											<!--Vertical Line-->
											<line x1="8" y1="3.5" x2="8" y2="12" class="vline" />
										</svg>
									</div>
									<span style="vertical-align: top;"><%= debt.name %></span>
								</div>
								<div class="w3-col m5">
									<span>Remaining Amount: <%= BudgetsController.currFmt(debt.current_amount_remaining) %></span>
								</div>
							</div>
						</div>
						<div class="w3-col m1"><p></p></div>
					</div>
					<div class="w3-accordion-content">
						<table class="w3-table-all w3-small">
							<% if debt.debt_payments.size > 0 then %>
								<tbody>
									<thead>
										<th>Transaction Date</th>
										<th>Recurring</th>
										<th>Amount</th>
										<th></th>
										<th></th>
									</thead>
									<% debt.debt_payments.each do |pymt| %>
										<tr>
											<td><%= pymt.trans_date %></td>
											<td><%= pymt.recurring %></td>
											<td><%= BudgetsController.currFmt(pymt.amount) %></td>
											<td><a id="editPymt<%= pymt.id %>" data-debt="<%= debt.name %>" data-amount="<%= pymt.amount %>" ng-click="budget.modals.payment.add_edit.showEdit($event)">Edit</a></td>
											<td><a id="rmvPymt<%= pymt.id %>" data-debt="<%= debt.name %>" data-amount="<%= pymt.amount %>" ng-click="budget.modals.payment.remove.show($event)">Remove</a></td>
										</tr>
									<% end %>
								</tbody>
							<% else %>
								No Details Availabe
							<% end %>
						</table>
					</div>
				</div>
			<% end %>
		</budget-accordion>
	</div>
	
	<!--Deposit Modals-->
    <div id="add-deposit-modal" class="w3-modal">
		<div class="w3-modal-content">
			<div class="close-button" ng-click="budget.modals.deposit.add_edit.hide()">X</div>
			<h2>{{budget.modals.deposit.add_edit.header}} Deposit</h2>
			<%= form_tag('/savings_deposits/add_deposit') do%>
				<div>
					<%= hidden_field_tag(:budget_id, @budget.id) %>
					<input type="hidden" name="deposit_id" value="{{budget.modals.deposit.add_edit.id_num}}">
				</div>
				<div ng-show="budget.modals.deposit.add_edit.acctVisible">
					<label>Savings Account</label>
					<select name="savAccount" required>
						<% @budget.savings_accounts.each do |acct| %>
							<option><%= acct.name %></option>
						<% end %>
					</select>
				</div>
				<div>
					<%= label_tag(:deposit_trans_date, "Transaction Date:") %>
					<%= date_field(:deposit, :trans_date, value: Time.now.strftime("%m/%d/%Y"), required: true) %>
				</div>
				<div>
					<%= label_tag(:deposit_amount, "Deposit Amount:") %>
					<%= text_field(:deposit, :amount, value: "$0.00", step: 50, required: true, min: 0, pattern: "^\\$*(?:\\d{1,3},?)*\\d{1,3}\\.\\d\\d$", "ng-blur" => "budget.amountHandler($event)") %>
				</div>
				<!--<%= submit_tag("Add") %>-->
				<input type="submit" name="commit" value="{{budget.modals.deposit.add_edit.btn}}" />
			<% end %>
		</div>
	</div>
	<div id="rmv-deposit-modal" class="w3-modal">
		<div class="w3-modal-content">
			<div class="close-button" >X</div>
			<h2>Remove Deposit</h2>
			<p>Are you sure you wish to remove this deposit of {{budget.amountFormatter(budget.modals.deposit.remove.depositAmt)}} from the  {{budget.modals.deposit.remove.acctName}} account?</p>
			<%= form_tag('/savings_deposits/remove_deposit') do%>
				<div>
					<%= hidden_field_tag(:budget_id, @budget.id) %>
					<input type="hidden" name="deposit_id" value="{{budget.modals.deposit.remove.id_num}}">
				</div>
				<%= submit_tag("Yes") %><button type="button" ng-click="budget.modals.deposit.remove.hide()">No</button>
			<% end %>
		</div>
	</div>
    <!--Expense Modals-->
    <div id="add-expense-modal" class="w3-modal">
		<div class="w3-modal-content">
			<div class="close-button" ng-click="budget.modals.expense.add_edit.hide()">X</div>
			<h2>{{budget.modals.expense.add_edit.header}} Expense</h2>
			<%= form_tag('/expense/add_expense') do%>
				<div>
					<%= hidden_field_tag(:budget_id, @budget.id) %>
					<input type="hidden" name="expense_id" value="{{budget.modals.expense.add_edit.id_num}}">
				</div>
				<div ng-show="budget.modals.expense.add_edit.categoryVisible">
					<label>Expense Category</label>
					<select name="expCategory" required>
						<% @budget.expense_categories.each do |exp| %>
							<option><%= exp.name %></option>
						<% end %>
					</select>
				</div>
				<div>
					<%= label_tag(:expense_name, "Expense Name:") %>
					<%= text_field(:expense, :name, required: true) %>
				</div>
				<div>
					<%= label_tag(:expense_trans_date, "Transaction Date:") %>
					<%= date_field(:expense, :trans_date, value: Time.now.strftime("%m/%d/%Y"), required: true) %>
				</div>
				<div>
					<%= label_tag(:expense_recurring, "Recurring Expense:") %>
					<%= check_box(:expense, :recurring) %>
				</div>
				<div>
					<%= label_tag(:expense_amount, "Expense Amount:") %>
					<%= text_field(:expense, :amount, value: "$0.00", step: 50, required: true, min: 0, pattern: "^\\$*(?:\\d{1,3},?)*\\d{1,3}\\.\\d\\d$", "ng-blur" => "budget.amountHandler($event)") %>
				</div>
				<!--<%= submit_tag("Add") %>-->
				<input type="submit" name="commit" value="{{budget.modals.expense.add_edit.btn}}" />
			<% end %>
		</div>
	</div>
	<div id="rmv-expense-modal" class="w3-modal">
		<div class="w3-modal-content">
			<div class="close-button" ng-click="budget.modals.expense.remove.hide()">X</div>
			<h2>Remove Expense</h2>
			<p>Are you sure you wish to remove {{budget.modals.expense.remove.expName}} from {{budget.modals.expense.remove.catName}}?</p>
			<%= form_tag('/expense/remove_expense') do%>
				<div>
					<%= hidden_field_tag(:budget_id, @budget.id) %>
					<input type="hidden" name="expense_id" value="{{budget.modals.expense.remove.id_num}}">
				</div>
				<%= submit_tag("Yes") %><button type="button" ng-click="budget.modals.expense.remove.hide()">No</button>
			<% end %>
		</div>
	</div>
	<!--Payment Modals-->
    <div id="add-payments-modal" class="w3-modal">
		<div class="w3-modal-content">
			<div class="close-button" ng-click="budget.modals.payment.add_edit.hide()">X</div>
			<h2>{{budget.modals.payment.add_edit.header}} Debt Payments</h2>
			<%= form_tag('/debt_payments/add_payment') do%>
				<div>
					<%= hidden_field_tag(:budget_id, @budget.id) %>
					<input type="hidden" name="payment_id" value="{{budget.modals.payment.add_edit.id_num}}">
				</div>
				<div ng-show="budget.modals.payment.add_edit.debtVisible">
					<label>Debt</label>
					<select name="debt" required>
						<% @budget.debts.each do |debt| %>
							<option><%= debt.name %></option>
						<% end %>
					</select>
				</div>
				<div>
					<%= label_tag(:payment_trans_date, "Transaction Date:") %>
					<%= date_field(:payment, :trans_date, value: Time.now.strftime("%m/%d/%Y"), required: true) %>
				</div>
				<div>
					<%= label_tag(:payment_recurring, "Recurring Payment:") %>
					<%= check_box(:payment, :recurring) %>
				</div>
				<div>
					<%= label_tag(:payment_amount, "Payment Amount:") %>
					<%= text_field(:payment, :amount, value: "$0.00", step: 50, required: true, min: 0, pattern: "^\\$*(?:\\d{1,3},?)*\\d{1,3}\\.\\d\\d$", "ng-blur" => "budget.amountHandler($event)") %>
				</div>
				<!--<%= submit_tag("Add") %>-->
				<input type="submit" name="commit" value="{{budget.modals.payment.add_edit.btn}}" />
			<% end %>
		</div>
	</div>
	<div id="rmv-payments-modal" class="w3-modal">
		<div class="w3-modal-content">
			<div class="close-button" ng-click="budget.modals.payment.remove.hide()">X</div>
			<h2>Remove Debt Payment</h2>
			<p>Are you sure you wish to remove payment of amount {{budget.amountFormatter(budget.modals.payment.remove.paymentAmt)}} from debt {{budget.modals.payment.remove.debtName}}?</p>
			<%= form_tag('/debt_payments/remove_payment') do%>
				<div>
					<%= hidden_field_tag(:budget_id, @budget.id) %>
					<input type="hidden" name="payment_id" value="{{budget.modals.payment.remove.id_num}}">
				</div>
				<%= submit_tag("Yes") %><button type="button" ng-click="budget.modals.payment.remove.hide()">No</button>
			<% end %>
		</div>
	</div>
</div>
