<h1>Budgets#show_budgets</h1>
<p>Find me in app/views/budgets/show_budgets.html.erb</p>
<%= link_to "<button type='button'>Add New Budget</button>".html_safe, {:controller => "budgets", :action => "create_budget"} %>